@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

textarea{
  margin: 20px;
  font-size: 1.2rem;
  padding: 10px;
}

button{
  width: 100px;
  height: 50px;
  border-radius: 10px;
  background-color: blue;
  color: white;
  margin: 20px auto;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
